
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    scroll-behavior:smooth;
    background:#f1f5f9;
    color:#111827;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    padding:16px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#01b4ab;
    z-index:1000;
}

nav.scrolled{
    box-shadow:0 3px 12px rgba(0,0,0,0.12);
}

.logo{
    font-size:23px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:#111827;
    font-size:17px;
    font-weight:bold;
}

nav ul li a:hover{
    color:white;
}

.section{
    min-height:100vh;
    padding-top:120px;    
    padding-left:50px;
    padding-right:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#home{
    background:linear-gradient(135deg,#dbeafe,#eff6ff);
}

#home h1{
    font-size:44px;
    margin-bottom:15px;
}

#home p{
    max-width:600px;
    margin:auto;
    color:#374151;
}


#services{
    background:white;
}

#services h2{
    font-size:32px;
    margin-bottom: 20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    margin-top:40px;
}

.card{
    background:#f8fafc;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.card h3{
    color:Blue;
    margin-bottom:15px;
}

#about{
    background:#e0f2fe;
    
}

#about h2{
    font-size:32px;
    margin-bottom: 20px;
}

#about p{
    max-width:720px;
    margin:auto;
    line-height:1.6;
}


#contact{
    background:white;
}

#contact h2{
    font-size:32px;
    margin-bottom: 20px;
}
.form-box{
    background:#f8fafc;
    padding:35px;
    border-radius:10px;
    width:100%;
    max-width:420px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

.form-box input,
.form-box textarea{
    width:100%;
    padding:11px;
    margin-bottom:15px;
    border:1px solid #cbd5e1;
    border-radius:6px;
}

.form-box button{
    width:100%;
    padding:11px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

#successMsg{
    display:none;
    margin-top:15px;
    color:#16a34a;
    font-weight:bold;
}


footer{
    padding:20px;
    text-align:center;
    background:#01b4ab;
    font-weight:bold;
}


@media(max-width:768px){
    nav{
        padding:15px 25px;
    }
    #home h1{
        font-size:34px;
    }
}