*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    scroll-behavior:smooth;
    background:#f1f5f9;
    color:#111827;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    padding:16px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(1, 180, 171);
    transition:0.3s;
    z-index:1000;
}

nav.scrolled{
    box-shadow:0 3px 12px rgba(0,0,0,0.12);
    background-color:#01b4ab;
}

.logo{
    font-size:23px;
    font-weight:bold;
    color:black;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:#111827;
    font-size:17px;
}

nav ul li a:hover{
    color:#2563eb;
}


.hero{
    height:100vh;
    background:linear-gradient(135deg,#dbeafe,#eff6ff);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:44px;
    margin-bottom:15px;
}

.hero p{
    max-width:600px;
    margin:auto;
    color:#374151;
}

.hero button{
    margin-top:30px;
    padding:14px 34px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:white;
    font-size:15px;
    cursor:pointer;
}

.hero button:hover{
    background:#1d4ed8;
}


section{
    padding:100px 50px;
}


#services{
    background:white;
    text-align:center;
}

#services h2{
    font-size:32px;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.card{
    background:#f8fafc;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.card h3{
    color:#2563eb;
    margin-bottom:10px;
}


#about{
    background:#e0f2fe;
    text-align:center;
}

#about h2{
    font-size:32px;
    margin-bottom:15px;
}

#about p{
    max-width:720px;
    margin:auto;
    font-size:16px;
    color:#374151;
    line-height:1.6;
}


#contact{
    background:white;
    display:flex;
    justify-content:center;
}

.form-box{
    background:#f8fafc;
    padding:35px;
    border-radius:10px;
    width:100%;
    max-width:420px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

.form-box h2{
    text-align:center;
    margin-bottom:15px;
}

.form-box input,
.form-box textarea{
    width:100%;
    padding:11px;
    margin-bottom:15px;
    border:1px solid #cbd5e1;
    border-radius:6px;
}

.form-box button{
    font-size:16px;
    width:100%;
    padding:11px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.form-box button:hover{
    background:#1d4ed8;
}

#successMsg{
    display:none;
    margin-top:15px;
    text-align:center;
    color:#16a34a;
    font-weight:bold;
}


footer{
    padding:20px;
    text-align:center;
    background:rgb(1, 180, 171);
    font-size:16px;
    font-weight: bold;
}


@media(max-width:768px){
    nav{
        padding:15px 25px;
    }
    .hero h1{
        font-size:34px;
    }
}
